@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body{
    width: 100%;
    height: 100%;
    /*min-height: 1750px;*/
    background-image: linear-gradient(135deg, black, #8900FA);
}
header{
    width: 100%;
    height: 130px;
    border-bottom: 5px solid #B8144E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h2{
    font-size: 80px;
    text-indent: 50px;
    color: #B8144E;
}
#menu{
   width: 100px;
    height: 100px;
    margin: 0 40px;
} 
.button_menu{
    width: 100px;
    height: 25px;
    background-color: black;
    margin-bottom: 10px;
    transition: 0.1s;
}
#menuItems{
    width: 550px;
    min-height: 1600px;
    float: right;
    background-color: black;
    margin-left: -550px;
    display: none;
    position: relative;
    padding-top: 50px;
}
button{
    width: 100%;
    height: 120px;
    background-color: transparent;
    border: none;
    color: #B8144E;
    font-size: 70px;
    text-align: left;
    text-indent: 40px;
}
button:hover{
    background-image: linear-gradient(90deg, black, #8900FA);
}
#perfil{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
figure{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 15px solid #B8144E;
    margin-top: 100px;
}
#perfil img{
    width: 100%;
    border-radius: 50%;
}
#text{
    width: 90%;
    height: 500px;
    margin-top: 100px;
}
#text h1{
    font-size: 100px;
    text-align: center;
    margin-bottom: 20px;
}
#text p{
    font-size: 70px;
    margin: 0;
}
/*----------contacts-------------------*/
#contactsDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.contact{
    width: 700px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B8144E;
    margin: 35px 0;
    border-radius: 25px;
    box-shadow: 10px 20px 15px black;
}
a{
    text-decoration:  none;
    color: black;
}
p{
    font-size: 70px;
    color: black;
    margin-left: 100px;
}
.contact img{
    width: 88px;
    height: 88px;
    margin: 0 50px;
}
#stand{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.cardProjects{
    width: 90%;
    height: 850px;
    display: block;
    border: 5px solid black;
    margin: 50px 0;
    box-shadow: 10px 20px 15px black;
}
.imgProjects{
    width: 100%;
    height: 600px;
    border-radius: 15px;
    border: 0;
    margin: 0;
}
.imgProjects img{
    width: 100%;
    height: 100%;
    font-size: 70px;
    border-radius: 0;
}
.descriptionProjects{
    width: 100%;
    height: 250px;
    background-color: #B8144E;
}
.descriptionProjects h3{
    font-size: 70px;
    text-indent: 30px;
}
.descriptionProjects p{
    margin-left: 30px;
}
/*----------infoDiv------------------*/
#infoDiv{
    width: 100%;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
}
#infoDiv figure{
    width: 900px;
    height: 650px;
    border-radius: 0;
    border: 0;
    margin: 60px 0px;
}
#figureWeb img {
    width: 100%;
    height: 100%;
    border-radius: 0;
}
#infoDiv h1{
    font-size: 85px;
    text-indent: 50px;
    margin: 0px 30px;
    color: #D5D5DD;
}
#infoDiv p, h2{
    font-size: 70px;
    color: black;
    margin-left: 40px;
    text-indent: 70px;
}
#infoDiv li{
    font-size: 70px;
    color: black;
    text-indent: 0px;
    text-decoration: none;
}
#infoDiv ul{
    margin-left: 30px;
}
